<li>
  <div class="bold">
   {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}}
  </div>
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}<br>
    <button class="btn btn-primary btn-md" {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <!-- {{update-rental rental=rental update="update"}} -->
  <!-- <button class="btn btn-danger btn-md" {{action 'delete' rental}}>Delete</button> -->
</li>
